# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environment
.venv/
env/
venv/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment Variables
.env

# Node
node_modules/
package-lock.json
